<html lang="en">
<head>
    <title>Email Verification</title>
</head>
<body>
    <h1>Halo {{username}}</h1>
    <h2>Welcome to out website</h2>
    <p>verify your account by clicking this link</p>
        <a href={{link}}>{{link}}</a>
    
</body>
</html>