<html lang="en">
<head>
    <title>Email Verification</title>
</head>
<body>
    <h1>Halo {{username}}</h1>
    <h2>Welcome to out website</h2>
        <a href={{Link}}><button>Verify</button></a>
    
</body>
</html>